# Hello there ! Nice to meet you <img src="assets/img/pepe-excited.gif" alt="Girl in a jacket" width="30">

My name is {{ name }} and I am a <b>Fullstack Developer</b> from <img src="https://cdn-icons-png.flaticon.com/512/197/197560.png" width="13"/> <b>Pau, France</b>. 
<br>
I am also doing <b>DevOps</b>, <b>Data Engineering</b> and some <b>Data Science</b>.
