# Hello there ! Nice to meet you <img src="assets/img/pepe-excited.gif" alt="Girl in a jacket" width="30">

My name is {{ name }}, I am {{ age }} years old and I am a <b>Fullstack Developer</b> from <img src="https://cdn-icons-png.flaticon.com/512/197/197560.png" width="13"/> <b>Pau, France</b> since {{ experience }} years now. 
<br>
I am also doing <b>DevOps</b>, <b>Data Engineering</b> and some <b>Data Science</b>.

## Some technologies I am used to use <img src="assets/img/pepe-hacker.gif" alt="Pepe hacker" width="30">

<p>
  {{#languages}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/languages}}
</p>

<p>
  {{#frameworks}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/frameworks}}
</p>

<p>
  {{#ai}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/ai}}
</p>

<p>
  {{#front}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/front}}
</p>

<p>
  {{#database}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/database}}
</p>

<p>
  {{#cloud}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/cloud}}
</p>

<p>
  {{#versionning}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/versionning}}
</p>

<p>
  {{#cicd}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/cicd}}
</p>

<p>
  {{#container}}
    <a href="{{ link }}">
      <img alt="{{ name }}" src="https://img.shields.io/badge/-{{ name }}-{{ background_color }}?style={{ style }}&logo={{ logo }}&logoColor={{ logo_color }}" />
    </a>
  {{/container}}
</p>

## Notable projects <img src="assets/img/pepenerd.png" alt="Pepe hacker" width="30">

<table>
  <thead align="center">
    <tr border: none;>
      <td><b>💻 Projects</b></td>
      <td><b>🤖 Language</b></td>
      <td><b>⭐ Stars</b></td>
      <td><b>📚 Forks</b></td>
      <td><b>📝 Description</b></td>
    </tr>
  </thead>
  <tbody>
    {{#projects}}
        <tr>
            <td><a href="{{ link }}"><b>{{ name }}</b></a></td>
            <td>{{ language }}</td>
            <td><img alt="Stars" src="https://img.shields.io/github/stars/{{ path }}?style=flat&labelColor=343b41"/></td>
            <td><img alt="Forks" src="https://img.shields.io/github/forks/{{ path }}?style=flat&labelColor=343b41"/></td>
            <td>{{ description }}</td>
        </tr>
    {{/projects}}
  </tbody>
</table>

## Quick overview of my Github Profile <img src="assets/img/ez_pepe.png" alt="Pepe EZ" width="30">
[![Lucas's Github stats](https://github-readme-stats.vercel.app/api?username=LPauzies&hide=issues&count_private=true&theme=dracula)](https://github.com/LPauzies)

## A meme for you because you deserve it <img src="assets/img/pepehonk.png" alt="Pepe Clown" width="30">

<img src='https://random-memer.herokuapp.com/' title="Meme" alt="Please refresh the page if the meme doesn't show up." width=300>

## Where to find me <img src="assets/img/pepe_happyclap.gif" alt="Pepe clap" width="30">

<p>
    <a href="https://github.com/LPauzies" target="_blank">
        <img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" />
    </a>
    <a href="https://www.linkedin.com/in/lucas-pauzies/" target="_blank">
        <img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" />
    </a>
</p>

---
<h5 align="center">This README file is updated every 12 hours.</h5>
<h5 align="center">Last refresh: {{ date }}</h5>
<br>
<p align="center">
    <img src="https://github.com/LPauzies/LPauzies/actions/workflows/main.yaml/badge.svg" />
</p>

